img {
   width: 250px;
}
body {
   text-align: left;
   font-family: "helvetica"
}
body {
    background-color: lightblue;
}
h1 {
    color: navy;
}
h4 {
    color: red;
}
h5 {
    color: blue;
    margin-left: 20px;
}
h6 {
    color: blue;
    font-family: cursive;
   margin-left: 20px;
    font-size: larger
}
